<h1>New division</h1>
<%params%>
<form action="/wizard_divide">
  <label for="form_first_num">
    Divide this:
  </label>
  <input id="form_first_num" name="first_num" text="text">

  <label for="form_sec_num">
    by this:
  </label>
  <input id="form_sec_num" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
